// .header__top {
//   background-color: rgb(255, 255, 255);
// }
// .header__top_right {
//   background-color: rgb(255, 255, 255);
//   display: grid;
//   justify-content: end;
//   ul {
//     list-style: none;
//     display: flex;
//     column-gap: 10px;
//   }
// }
// .header-logo img {
//   height: 40px;
// }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f5f7; /* Màu nền */
  padding: 10px 20px;
}

.header-logo img {
  height: 40px;
}

.header-search {
  background-color: rgb(236, 239, 241);
  margin-right: 30px;
  // border-radius: 100px;
  width: 303px;
}

.header-search input {
  width: 100%;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #f9f9f9;
}

.header-delivery {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f5f7;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(236, 239, 241);
  margin-right: 30px;
  border-radius: 100px;
  width: 303px;
}

.header-delivery img {
  height: 24px;
}

.header-delivery span {
  color: #2d8f59;
  font-size: 14px;
  font-weight: bold;
}

.header-icons {
  color: #2d8f59;
  display: flex;
  align-items: center;
  gap: 15px;
}
